---
layout: default
---

<div class="page__inner-wrap">
  {% include nav.html %}

  <div class="page__content" role="main">
    <header class="page__header">
      <h1 class="page__title">{{ site.title }}</h1>
      <p class="page__lead">{{ site.description }}</p>
    </header>

    {% assign intro = content | strip %}
    {% if intro != '' %}
    <div class="page__intro">
      {{ content }}
    </div>
    {% endif %}

    <section class="archive">
      <h2 class="archive__subtitle">最新文章</h2>
      {% include posts.html %}
    </section>
  </div>
</div>
